.box1{
    background-color: #3c3c3c;
    height: 120px;
}

.box2{
    background-color: #3c3c3c;
    height: 60px;
}

.redes{
    padding: 10px;
    font-size: 40px !important;
    color: #fff;
}

.textos{
   color: #fff;
}